html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: url(https://cdn.wallpapersafari.com/29/3/NYdm2r.gif);
  background-position: center;
  background-size: cover;
}

.App .card {
  max-width: 450px;
  width: 100%;
  text-align: center;
  background-color: #fdfdfd;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

.label-question {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  background: rgb(235, 235, 235);
  border-radius: 10px;
  color: #050505;
  border: 1px solid #fdfdfd;
}

.label-question:hover {
  background-color: transparent;
  border: 1px solid black;
  transition: all 0.8s;
  cursor: pointer;
}

label.radio+.radio {
  margin-left: 0;
}

.label-question input {
  margin-right: 10px;
}

.button-primario {
  color: aliceblue;
  font-size: 20px;
  background: rgb(0, 183, 255);
  border: 1px solid rgb(0, 204, 255);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 120px;
}

.button-primario:hover {
  background: transparent;
  border: 1px solid #050505;
  color: #050505;
  cursor: pointer;
  transition: all 0.5s;
}

.button-next {
  color: aliceblue;
  font-size: 20px;
  background: rgb(0, 183, 255);
  border: 1px solid aqua;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 400px;
}

.button-next:hover {
  background: transparent;
  border: 1px solid #050505;
  color: #050505;
  cursor: pointer;
  transition: all 0.5s;
}